body {
    padding: 10px;
}

h2 {
    font-style: italic;
}

.customer-info,
.books {
    width: 800px;
}

div input:not([name="quantity"]) {
    width: 300px;
    margin: 10px;
}

.books input[name="quantity"] {
    width: 150px;
}
